<%= form_for(@incident) do |f| %>
  <% if @incident.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@incident.errors.count, "error") %> prohibited this incident from being saved:</h2>

      <ul>
      <% @incident.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :severity %><br>
    <%= f.select :severity, options_for_select(Incident::SEVERITY_VALUES) %>
  </div>
  <div class="field">
    <%= f.label :started_at %><br>
    <%= f.datetime_select :started_at %>
  </div>
  <div class="field">
    <%= f.label :detected_at %><br>
    <%= f.datetime_select :detected_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
