<h1 class="pull-left">Listing incidents</h1>

<ul id="incident-status-switcher" class="nav nav-pills pull-right">
  <% Incident::STATUS_VALUES.each do |status| %>
    <%= incident_status_switcher_item(status, status.capitalize, params[:status]) %>
  <% end %>
  <%= incident_status_switcher_item(nil, "All", params[:status]) %>
</ul>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Severity</th>
      <th>Status</th>
      <th>Opened by</th>
      <th>Started at</th>
      <th>Detected at</th>
    </tr>
  </thead>

  <tbody>
    <% @incidents.each do |incident| %>
      <tr>
        <td><%= link_to incident.title, incident %></td>
        <td><%= incident_severity_label(incident) %></td>
        <td><%= incident.status %></td>
        <td><%= incident.user.name %></td>
        <td><%= incident.started_at %></td>
        <td><%= incident.detected_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Incident', new_incident_path, class: 'btn btn-lg btn-primary' %>
