<h1>Listing incidents</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Severity</th>
      <th>Status</th>
      <th>Started at</th>
      <th>Detected at</th>
    </tr>
  </thead>

  <tbody>
    <% @incidents.each do |incident| %>
      <tr>
        <td><%= link_to incident.title, incident %></td>
        <td><%= incident.severity %></td>
        <td><%= incident.status %></td>
        <td><%= incident.started_at %></td>
        <td><%= incident.detected_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Incident', new_incident_path, class: 'btn btn-lg btn-primary' %>
