<p id="notice"><%= notice %></p>

<h1>
  <%= @incident.title %>
</h1>

<p class="lead">
  <%= @incident.description %>
</p>

<p>
  <strong>Severity:</strong>
  <%= incident_severity_label(@incident) %>
</p>

<p>
  <strong>Status:</strong>
  <%= @incident.status %>
</p>

<p>
  <strong>Started at:</strong>
  <%= @incident.started_at %>
</p>

<p>
  <strong>Detected at:</strong>
  <%= @incident.detected_at %>
</p>

<%= link_to 'Edit', edit_incident_path(@incident), class: 'btn btn-default' %>

<h2>Comments</h2>

<%= render partial: 'comment', collection: @incident.comments %>

<%= link_to 'New Comment', new_incident_comment_path(@incident), class: 'btn btn-default' %>
