<p id="notice"><%= notice %></p>

<h1>
  <span class="text-muted">#<%= @incident.id %></span>
  <%= incident_severity_label(@incident) %>
  <%= @incident.title %>
</h1>

<div class="row">
  <div class="col-md-8">
    <%= simple_format(@incident.description, class: 'lead') %>

    <%= link_to 'Edit', edit_incident_path(@incident), class: 'btn btn-default' %>
  </div>

  <div class="col-md-4">
    <%= render partial: 'details', locals: { incident: @incident } %>
  </div>
</div>

<div id="comments-container" data-incident-id="<%= @incident.id %>">
  <header>
    <h2>Comments <small>(Live updating)</small></h2>
    <%= render 'loader' %>
    <button class="pull-right go-to-add-comment hidden btn btn-default">Add comment</button>
  </header>

  <div id="comments-list"></div>
  <h4 class="text-danger hidden">Comments Error!</h4>

  <%= render 'comments/form' %>
</div>
