<p id="notice"><%= notice %></p>

<h1>
  <span class="text-muted lead">#<%= @incident.id %></span>
  <%= @incident.title %>
</h1>

<p class="lead">
  <%= @incident.description %>
</p>

<p>
  <strong>Severity:</strong>
  <%= incident_severity_label(@incident) %>
</p>

<p>
  <%= form_tag(status_incident_path, method: :patch, class: 'form-inline') do |f| %>
    <%= label_tag :status, "Status:" %>
    <%= select_tag :status, options_for_select(Incident::STATUS_VALUES, @incident.status), id: 'incident-status', class: 'form-control' %>
  <% end %>
</p>

<p>
  <strong>Opened by:</strong>
  <%= @incident.user.name %>
</p>

<p>
  <strong>Started at:</strong>
  <%= @incident.started_at %>
</p>

<p>
  <strong>Detected at:</strong>
  <%= @incident.detected_at %>
</p>

<%= link_to 'Edit', edit_incident_path(@incident), class: 'btn btn-default' %>

<div id="comments-container" data-incident-id="<%= @incident.id %>">
  <header>
    <h2>Comments <small>(Live updating)</small></h2>
    <%= render 'loader' %>
    <button class="pull-right go-to-add-comment hidden btn btn-default">Add comment</button>
  </header>

  <div id="comments-list"></div>
  <h4 class="text-danger hidden">Comments Error!</h4>

  <%= render 'comments/form' %>
</div>
