<!DOCTYPE html>
<html>
<head>
  <title>Banjaxed</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Banjaxed</a>
    </div>
    <% if user_signed_in? %>
      <ul class="nav navbar-nav navbar-right hidden-xs">
        <li>
          <a href="https://github.com/<%= current_user.github_username %>">
            <%= user_avatar(current_user, 40) %>
          </a>
        </li>
      </ul>
    <% end %>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "Incidents", incidents_path %></li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
